---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2026 - Actualidad",
    title: "Software Developer",
    company: "ACL",
    description:
      "ACL es una empresa la cual se desempeña en tecnología. Acompañando con soluciones integrales y personalizadas para potenciar la transformación digital de tu empresa.",
  },
  {
    date: "Noviembre 2024 - Actualidad",
    title: "Freelance Software Engineer",
    company: "Azetheral Technology",
    description:
      "Azetheral Technology es un mini emprendimiento enfocado en desarrollo web y soluciones digitales escalables. Trabajo junto a un desarrollador Full Stack, utilizando tecnologías modernas como Next y NestJS. Nos enfocamos en hacer código limpio, además de utilizar Clean Architecture junto con las herramientas más actualizadas.",
  },
  {
    date: "Noviembre 2024 - Febrero 2025",
    title: "Práctica Laboral",
    company: "Safe Wave",
    description:
      "Lideré el desarrollo y mantenimiento de una aplicación de seguridad social localizada en Temuco. Trabajé con tecnologías modernas como NestJS y TypeScript, aplicando principios de arquitectura limpia para garantizar un código escalable, mantenible y eficiente. Mi desempeño abarcó desde el diseño e implementación de nuevas funcionalidades hasta la optimización de procesos existentes, asegurando la calidad y seguridad de la plataforma.",
  },
  {
    date: "Enero 2024 - Marzo 2024",
    title: "Práctica Laboral",
    company: "Compañía de Seguros Confuturo S.A.",
    description:
      "Lideré un proyecto de actualización de Sistemas Operativos (S.O) y Bases de Datos. Incluyó etapas como levantamiento de información, definición de estrategias, ejecución de las mismas, pruebas de éxito y controles de calidad. Además, me encargué del seguimiento del proyecto y una actualización de la Base de Datos de Gestión de la Configuración (CMDB), garantizando así estabilidad y eficiencia.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
